
extends layout

block header

  script(src="/assets/vendor/jquery-lightbox-0.5/js/jquery.js")
  script(src="/assets/vendor/jquery-lightbox-0.5/js/jquery.lightbox-0.5.js")
  link(rel='stylesheet', media="screen", href='/assets/vendor/jquery-lightbox-0.5/css/jquery.lightbox-0.5.css')

  script(type='text/javascript')
    $(function () {
     $('.lightbox a').lightBox({
       imageLoading:     '/assets/vendor/jquery-lightbox-0.5/images/lightbox-ico-loading.gif',
       imageBtnPrev:     '/assets/vendor/jquery-lightbox-0.5/images/lightbox-btn-prev.gif', 
       imageBtnNext:     '/assets/vendor/jquery-lightbox-0.5/images/lightbox-btn-next.gif',
       imageBtnClose:    '/assets/vendor/jquery-lightbox-0.5/images/lightbox-btn-close.gif',
       imageBlank:       '/assets/vendor/jquery-lightbox-0.5/images/lightbox-blank.gif'
      });
    });

block content

  - if (params.paging.next || params.paging.previous)
    ul.pager
     - if (params.paging.previous)
       li
         a(href="#{params.paging.previous}", class="pull-left") Previous
     - if (params.paging.next)
       li
         a(href="#{params.paging.next}", class="pull-right") Next

  table.table.table-striped
    thead
      tr
        th 
        th File Name / Size
        th Modified
        th Delete
        th Resize

    tbody
      - for (var i=0; i<params.files.length; ++i)
        tr
         td.lightbox
          a(href=params.amazon_url + params.files[i].Key.replace(/ /g, '-').replace('scratch/', '/400x600/'), target="_blank") 
            img(class='img-polaroid', width='50', src=params.amazon_url + params.files[i].Key.replace(/ /g, '-').replace('scratch/', '/100x100/')))
          &nbsp;
         td
          = params.files[i].Key
          br
          = ((params.files[i].Size / 1024 ) / 1024 ).toFixed(1) 
            |  MB
         td
          = params.files[i].LastModified
         td 
           button(class="btn btn-small", type="button", onclick="document.location='/s3/delete/" + params.files[i].Key.replace('scratch/', '') + "';") Remove
         td 
           button(class="btn btn-small", type="button", onclick="document.location='/bitline/resize/" + params.files[i].Key.replace('scratch/', '') + "';") Resize