
extends layout

block header

  script(src="/assets/vendor/jquery-lightbox-0.5/js/jquery.js")
  script(src="/assets/vendor/jquery-lightbox-0.5/js/jquery.lightbox-0.5.js")
  link(rel='stylesheet', media="screen", href='/assets/vendor/jquery-lightbox-0.5/css/jquery.lightbox-0.5.css')

  script(type='text/javascript')
    $(function () {
     $('.lightbox a').lightBox({
       imageLoading:     '/assets/vendor/jquery-lightbox-0.5/images/lightbox-ico-loading.gif',
       imageBtnPrev:     '/assets/vendor/jquery-lightbox-0.5/images/lightbox-btn-prev.gif', 
       imageBtnNext:     '/assets/vendor/jquery-lightbox-0.5/images/lightbox-btn-next.gif',
       imageBtnClose:    '/assets/vendor/jquery-lightbox-0.5/images/lightbox-btn-close.gif',
       imageBlank:       '/assets/vendor/jquery-lightbox-0.5/images/lightbox-blank.gif'
      });
    });

block content
  table.table.table-striped
    thead
      tr
        th 
        th File Name / Size
        th Modified
        th Delete

    tbody
      - for (var i=0; i<params.files.length; ++i)
        tr
         td
          a(href="http://s3.amazonaws.com/formaggio-dev/" + params.files[i].Key, target="_blank") 
            img(class='img-polaroid', width='50', src='http://s3.amazonaws.com/formaggio-dev/' + params.files[i].Key)
          &nbsp;
         td
          = params.files[i].Key
          br
          = (params.files[i].Size / 1024 )
         td
          = params.files[i].LastModified
         td 
           button(class="btn btn-small", type="button", onclick="document.location='/s3/delete/" + params.files[i].Key + "';") Remove