
extends layout

block content
  table.table.table-striped
    thead
      tr
        th Image
        th Local Name
        th S3 Name

    tbody
      - for (var i = 0; i < files.length; ++i)
        tr
         td
          img(class='img-polaroid', width='50', src='http://s3.amazonaws.com/formaggio-dev/' + files[i].Key)
          &nbsp;
         td
          = files[i].Key
         td
          | URL
         td 
           button(class="btn btn-small", type="button", onclick="document.location='/s3/delete/" + files[i].Key + "';") Remove